*{
    margin: 0;
}
/*!* Header Style *!*/
body{
    font-size: 15px;
    font-family: 'Lora', serif;
    overflow-y: hidden;
}

main{
    left: 0;
    right: 0;
}

.add_item button:first-child::before{
    content: 'Add Stock ';
}
.add_item button:last-child::before{
    content: 'Sell Stock ';
}
